
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'base';

@import 'home';

@import 'header';

@import 'components';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.04);
}
.padding-0{
    padding-right:0;
    padding-left:0;
}

