
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.padding-0{
    padding-right:0;
    padding-left:0;
}

.right-panel{
    background-color: aquamarine;
    border-right:1px solid gray; 
}